.wrapper{
  position: relative;
  font-family: Montserratarm-light;
  max-width: 1824px;
  margin: auto;
  height: 100vh;
}
section {
  display: flex;
  font-family: Montserratarm-light;

}

.head{
  padding: 10px;
}

.allDetails {
  flex: 2;
}

.ad-banner {
  flex: 1;
}

.spin {
  display: flex;
  align-items: center;
}

.succ svg {
  width: 30px;
  height: 30px;
}

aside {
  padding: 15px;
}

.allDetails {
  display: flex;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Questrial", sans-serif;
}

.qrDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Questrial", sans-serif;
}

.paymentDetails {
  flex: 2;
}

.qrDetails {
  flex: 1;
}

.qrDetails .qr {
  margin-bottom: 3%;
  text-align: center;
}

.paymentDetails .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  margin-bottom: 4%;
  border-bottom: 2px dashed var(--uni--color);
  width: 90%;
}

.paymentDetails .info .logo {
  width: 210px;
  height: 100px;
  /* margin-bottom: 2%; */
}

.paymentDetails .info .logo img {
  width: 100%;
  height: 100%;
}

.paymentDetails .info .company-name {
  margin-bottom: 2%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.company-name .logo {
  width: 100px !important;
  height: 100px !important;
}

.company-name .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paymentDetails .payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.paymentDetails .payment .details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.paymentDetails .payment .details .comment::-webkit-scrollbar {
  display: none;
}

.paymentDetails .payment .details .comment {
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

.paymentDetails .payment .details .comment,
.paymentDetails .payment .details .amount {
  width: 55%;
  height: 45px;
  border: 2px solid var(--uni--color);
  text-align: center;
  font-weight: bolder;
  line-height: 45px;
  margin-bottom: 6%;
}

.paymentDetails .payment .pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.paymentDetails .payment .pay-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 10px;
  border: 2px solid var(--uni--color);
  background: var(--uni--color);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  font-weight: bold;
}

.paymentDetails .payment .pay-button button:hover {
  background: var(--uni--color);
  border-color: var(--uni--color);
}

.paymentDetails .payment .pay-button .btn-img {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-button button span {
  text-align: center;
}

.scan-for-pay {
  text-align: center;
}

.paymentDetails .payment .card-logo {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  width: 55%;
}

.paymentDetails .payment .card-logo .arca {
  width: 35%;
}

.paymentDetails .payment .card-logo .visa {
  width: 60%;
}

.paymentDetails .payment .card-logo .arca img,
.paymentDetails .payment .card-logo .visa img {
  width: 100%;
  height: 100%;
}

.paymentDetails .payment-and-qr {
  display: flex;
  align-items: flex-start;
  width: 85%;
}

.qrDetails .qr img {
  width: 160px;
  height: 160px;
}

.qrDetails .scan-for-pay,
.qr-footer {
  color: var(--uni--color);
  font-weight: bold;
}

.qrDetails .qr-footer span {
  margin-bottom: 2%;
  text-align: center;
}

.qrDetails .qr-footer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.qrDetails .qr-footer .banks {
  display: flex;
  flex-direction: column;
}

.qrDetails .qr-footer .banks .first,
.qrDetails .qr-footer .banks .second {
  display: flex;
}

.qrDetails .qr-footer .banks img {
  width: 55px;
  height: 55px;
}

.qrDetails .qr-footer .banks div:not(:last-child) {
  margin-right: 2%;
}

.qrDetails .qr-footer .banks .payx img {
  height: 35px;
  width: 55px;
}

.qrDetails .qr-footer .banks .payx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.banner-div {
  width: 100%;
}

.banner-div img {
  width: 100%;
  height: 100%;
}

/* .nothing{
  width: 660px;
  margin-bottom: 4%;
} */

.navbar-toggler:focus {
  box-shadow: none;
}

button:disabled,
button[disabled] {
  pointer-events: none;
}

/* --------------------*SWICH------------------------------ */
.hide-block-for-paid {
  display: none !important;
}

/* .hide-block-for-pay{
  display: none !important;
} */
/* -------------------------------------------------------- */
/* PAID */
.text-seccessful {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--uni--color);

}

.text-seccessful span {
  font-size: 1.6rem;
}

.text-seccessful img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-family: "Questrial", sans-serif;
}

.line {
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 50%;
  bottom: -5%;
  background-color: var(--uni--color)
}

.email {
  margin-top: 5%;
  width: 50%;
}

.email .text {
  font-size: 1.2rem;
  color: var(--uni--color);
  text-align: center;
}

.email-input {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.email-field {
  width: 100%;
  border: 2px solid var(--uni--color);
  height: 50px;
  outline: none;
  padding-left: 5px;
}

.send-btn {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.send-btn button {
  outline: none;
  border: 2px solid var(--uni-secondary-color);
  background: var(--uni-secondary-color);
  padding: 5px 25px;
  color: white;
  transition: 0.5s;
}

.send-btn button:hover {
  background: var(--uni--color);
  border-color: var(--uni--color)
}





/* END */





/* LOADER */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(115, 115, 121, 0.281);
  backdrop-filter: blur(4px);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LOADEREND */

/* MEDIA */
@media screen and (max-width: 970px) {
  .paymentDetails .payment .card-logo {
    width: 70%;
  }
}

@media screen and (max-width: 870px) {
  section {
    flex-direction: column;
  }

  .ad-banner {
    order: -1;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 810px) {
  header .main-block .language {
    margin-left: 10%;
  }
}

/* RESPOSIVE NAVBAR */
@media screen and (max-width: 725px) {
  header {
    border-bottom: none;
    height: auto;
  }

  .res-block {
    display: none;
  }

  .main-block {
    margin-top: 20px;
  }
}

@media screen and (min-width: 725px) {
  .res-block-none {
    display: none;
  }
}

/* RESPONSIVE NAVBAR END */

@media screen and (max-width: 700px) {
  .email {
    width: 60%;
  }
}

@media screen and (max-width: 685px) {
  .paymentDetails .payment .pay-button button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 601px) {
  .paymentDetails .payment .pay-button button {
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .payment-and-qr {
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }

  .qrDetails {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }

  .paymentDetails .payment .card-logo {
    width: 60%;
  }

  .paymentDetails .payment .card-logo .visa {
    width: 65%;
    margin-left: 5px;
  }

  .qrDetails .qr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-footer {
    align-items: center;
    justify-content: center;
  }

  .paymentDetails .payment .details .comment,
  .paymentDetails .payment .details .amount {
    width: 100%;
  }

  .paymentDetails .payment .pay-button {
    width: 100%;
  }

  .paymentDetails .payment .pay-button button {
    font-size: unset;
    padding: 10px;
    width: unset;
  }

  .email {
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .middle-side {
    width: 145px;
  }

  .paymentDetails .payment .card-logo {
    width: 90%;
  }

  .qrDetails {
    margin-top: 10%;
  }

  .email {
    width: 100%;
  }
}

@media screen and (max-width: 383px) {
  .paymentDetails .payment .pay-button button {
    font-size: 0.9rem;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .paymentDetails .payment .card-logo {
    width: 100%;
  }

  .qr-footer {
    font-size: 0.95rem;
  }

  .paymentDetails .payment .pay-button button {
    font-size: 0.85rem;
    width: 100%;
  }
}
