.wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: Montserratarm-light;
}
.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}

.enter {
  align-self: flex-end;
  min-width: 180px;
  background-color: var(--uni--color);;
  border: none;
  height: 50px;
  margin-top: 3%;
  border-radius: 5px;
  color: white;
}
.footer {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.password {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input_pass {
  width: 100%;
  height: 45px;
  border: 1px solid var(--uni--color);;
  outline: none;
  padding-left: 15px;
  font-size: 1.1rem;
}
.surname {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input_pass:not(:last-child) {
  margin-bottom: 3%;
}
.pass_form {
  width: 100%;
}

@media screen and (max-width: 858px) {
  .wrapper {
    margin-top: 10%;
  }
}
@media screen and (max-width: 858px) {
  .wrapper {
    margin-top: 15%;
    width: 80%;
  }
}
@media screen and (max-width: 642px) {
  .wrapper {
    margin-top: 20%;
    width: 100%;
  }
}
@media screen and (max-width: 516px) {
  .wrapper {
    margin-top: 30%;
  }
  .all {
    width: 75%;
  }
}
@media screen and (max-width: 410px) {
  .all {
    width: 90%;
  }
}
@media screen and (max-width: 344px) {
  .wrapper {
    margin-top: 40%;
  }
  .all {
    width: 98%;
  }
}
