<div class='navbar-wrapper'>
  <div>
    <a routerLink='/admin/merchants' routerLinkActive='active'>
      <h2>Merchants</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/users' routerLinkActive='active'>
      <h2>Users</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/reports' routerLinkActive='active'>
      <h2>Reports</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/transactions' [queryParams]="{page:'1'}" routerLinkActive='active'>
      <h2>Transactions</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/sms' routerLinkActive='active'>
      <h2>SMS</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/employees' routerLinkActive='active'>
      <h2>Employees</h2>
    </a>
  </div>
  <div>
    <a routerLink='/admin/settings/banks' routerLinkActive='active'>
      <h2>Settings</h2>
    </a>
  </div>
</div>
