<div class="wrapper">
  <h2>Change Password</h2>

  <form class="pass_form" [formGroup]="passwordForm" (submit)="changePassword()">
    <div class="password">
      <input
        [(ngModel)]="currentPassword"
        [ngModelOptions]="{ standalone: true }"
        type="password"
        class="input_pass"
        placeholder="Current password"
      />
      <input
        type="password"
        class="input_pass"
        placeholder="New password"
        formControlName="password"
      />
      <input
        type="password"
        class="input_pass"
        placeholder="Confirm new password"
        formControlName="confirmPassword"
      />
      <p class="error" *ngIf="passwordForm.errors?.misMatch">Passwords don't match</p>
      <button
        type="submit"
        [disabled]="!passwordForm.valid || loading"
        class="btn my-btn-color submit-btn"
      >
        {{ loading ? 'Saving...' : 'Change password' }}
      </button>
    </div>
  </form>
</div>
