* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  margin-bottom: 1%;
  border-bottom: 3px solid var(--vtb-color);
  font-family: Montserratarm-light;
}

header.notary {
  background: var(--notary-secondary-color);
  color: white;
}

.logo.notary {
  display: none;
  width: 90px !important;
}

.logo.notary.show {
  display: block;
  width: 90px !important;

}


header.notary .logo {
  width: 160px;
}

.logo {
  width: 120px;
  /* height: 60px; */
}

.logo img {
  width: 100%;
  height: 100%;
}

.res-block {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .hamburger-menu {
  display: none;
}

header .main-block {
  display: flex;
  justify-content: space-around;
}

header .main-block .login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .main-block .login-register button {
  width: 90px;
  height: 35px;
  outline: none;
  background: none;
  border: 1px solid var(--vtb-color);
  cursor: pointer;

}

header .main-block .login-register .login {
  margin-right: 5px;
}

header .main-block .language {
  display: flex;
  margin-left: 20%;
}

header .main-block .language div:not(:last-child) {
  margin-right: 5px;
}

/* MEDIA */
@media screen and (max-width: 970px) {
  .paymentDetails .payment .card-logo {
    width: 70%;
  }
}


@media screen and (max-width: 870px) {
  section {
    flex-direction: column;
  }

  .ad-banner {
    order: -1;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 810px) {
  header .main-block .language {
    margin-left: 10%;
  }
}

/* RESPOSIVE NAVBAR */
/* @media screen and (max-width: 725px){
  header{
      border-bottom: none;
      height: auto;
  }
  .res-block{
      display: none;
  }
  .main-block{
      margin-top: 20px;
  }
}
@media screen and (min-width: 725px){
  .res-block-none{
      display: none;
  }
} */
/* RESPONSIVE NAVBAR END */





@media screen and (max-width: 700px) {
  .email {
    width: 60%;
  }
}

@media screen and (max-width: 685px) {
  header .main-block {
    /* flex-direction: column; */
  }

  header .main-block .language {
    /* order: -1; */
    /* justify-content: flex-end; */
  }

  .paymentDetails .payment .pay-button button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 601px) {
  .paymentDetails .payment .pay-button button {
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .payment-and-qr {
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }

  .qrDetails {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }

  .paymentDetails .payment .card-logo {
    width: 60%;
  }

  .paymentDetails .payment .card-logo .visa {
    width: 65%;
    margin-left: 5px;
  }

  .qrDetails .qr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-footer {
    align-items: center;
    justify-content: center;
  }


  .paymentDetails .payment .details .comment,
  .paymentDetails .payment .details .amount {
    width: 100%;
  }

  .paymentDetails .payment .pay-button {
    width: 100%;
  }

  .paymentDetails .payment .pay-button button {
    font-size: unset;
    padding: 10px;
    width: unset;
  }

  .email {
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .middle-side {
    width: 145px;
  }

  .paymentDetails .payment .card-logo {
    width: 90%
  }

  .qrDetails {
    margin-top: 10%;
  }

  .email {
    width: 100%;
  }
}

@media screen and (max-width: 383px) {
  .paymentDetails .payment .pay-button button {
    font-size: 0.9rem;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .paymentDetails .payment .card-logo {
    width: 100%
  }

  .qr-footer {
    font-size: 0.95rem;
  }

  .paymentDetails .payment .pay-button button {
    font-size: 0.85rem;
    width: 100%;
  }
}
