<div class="wrapper">
  <span class="hint">
    The mobile app checks these on launch. An install below <b>Latest version</b> gets an optional update prompt;
    an install below <b>Minimum required version</b> must update before it can be used.
  </span>

  <app-loading *ngIf="loading"></app-loading>

  <form class="platform" *ngFor="let version of versions" (ngSubmit)="save(version)">
    <h5>{{ platformLabels[version.platform] }}</h5>
    <div class="row g-3">
      <div class="col-md-3">
        <label class="form-label" [for]="version.platform + '-latest'">Latest version</label>
        <input class="form-control" [id]="version.platform + '-latest'" [name]="version.platform + '-latest'"
          [(ngModel)]="version.latestVersion" placeholder="1.2.0" />
      </div>
      <div class="col-md-3">
        <label class="form-label" [for]="version.platform + '-min'">Minimum required version</label>
        <input class="form-control" [id]="version.platform + '-min'" [name]="version.platform + '-min'"
          [(ngModel)]="version.minRequiredVersion" placeholder="1.0.0" />
      </div>
      <div class="col-md-6">
        <label class="form-label" [for]="version.platform + '-url'">Store URL</label>
        <input class="form-control" [id]="version.platform + '-url'" [name]="version.platform + '-url'"
          [(ngModel)]="version.storeUrl" placeholder="https://" />
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn my-btn-color" [disabled]="saving === version.platform">
        {{ saving === version.platform ? 'Saving…' : 'Save' }}
      </button>
    </div>
  </form>
</div>
