<div class="wrapper">
  <div class="slider-wrapper">



    <div class="card">
      <div class="front">
        <div class="back-content form-container sign-in-container">
          <div class="slider1">
            <div class="header">
              <h1>Write your phone to reset password</h1>
            </div>
            <div class="body">
              <input type='text' placeholder="phone" [(ngModel)]='phone'>
              <div class='code-wrapper' *ngIf='codeToggle'>
                <h1>Write your code here</h1>
                <code-input [isCodeHidden]="false"
                  [codeLength]="5"
                  (codeChanged)="onCodeChanged($event)"
                  (codeCompleted)="onCodeCompleted($event)"
                  inputmode='none'
                >
              </code-input>
              </div>

            </div>
            <div class="footer">
              <button (click)='snedResetCode()' [disabled]='loading'>Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="back">
        <div class="back-content form-container sign-in-container">
          <div class="slide2">
            <div class="header">
              <h1>Change your password</h1>
            </div>
            <div class="body">
              <input style="margin-top:1em" #pass type='text' placeholder="New password">
              <input style="margin-top:1em" #changePass type='text' placeholder="Confirm password">
            </div>
            <div class="footer">
              <button (click)='changePassword(pass.value,changePass.value)' [disabled]='loading'>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-success *ngIf='successToggle' [text]='message' (ok)='okClick()'></app-success>
