.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper{
  width:40%;
  height: 60%;
  border:1px solid green;
  border-radius: 1em;
  padding:1em;
}

.card{
  cursor: pointer;
  /* width: 340px; */
  height: 100%;
}

.front,
.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

.front{
  transform: perspective(600px) rotateY(0deg);
}

.back{
  transform: perspective(600px) rotateY(180deg) rotateX(60deg);
  background-color: #f1f1f1;
}

.back-content{
  width: 100%;
  text-align: center;
  color: #333333;
}

h2{
  margin-bottom: 20px;
}

span{
  display: block;
  font-size: 20px;
}

.fas{
  display: block;
  margin: 20px 0;
  color: red;
  font-size: 30px;
}

.front-transform{
  transform: perspective(600px) rotateY(-180deg) rotateX(60deg);
}
.back-transform{
  transform: perspective(600px) rotateY(0deg);
}
.slider1{
  padding:1em;
}
.header{
  padding:0.5em;
  font-size:2em;
  border-bottom:1px solid orange;
}
.header h1{
  font-size:1.2em;
}
.body{
  border-bottom:1px solid orange;
  padding:1em;
  height:30vh
}
.body input{
  padding:0.3em;
  font-size:2em;
  color:black;
  border:none;
  outline: none;
  text-align:center;
  border-bottom:green;
}
.footer{
  padding:1em;
  text-align:center;
}
.footer button{
  border:none;
  border:1px solid orange;
  border-radius:1em;
  background:green;
  color:white;
  padding:0.5em;
  font-size:1.5em
}
.footer button:hover{
  background:rgb(0, 92, 0);
}
code-input {
  --item-spacing: 10px;
  --item-height: 2em;
  --item-border: none;
  --item-border-bottom: 2px solid #dddddd;
  --item-border-has-value: none;
  --item-border-bottom-has-value: 2px solid #888888;
  --item-border-focused: none;
  --item-border-bottom-focused: 2px solid #809070;
  --item-shadow-focused: none;
  --item-border-radius: 0px;
}
.code-wrapper{
  margin-top:2em;
}
